body {
    font-family: Arial;
    padding: 1rem;
    color: #5e5e5e;
}
.link {
    color: red;
    text-decoration: none;
}
.header {
    border-bottom: 1px solid #5e5e5e;
}
.header__title {
    color: red;
    font-weight: normal;
    text-transform: uppercase;
}
.header__title-strong {
    font-weight: bold;
}
.hero {
    font-size: 1.5rem;
    line-height: 2rem;
}
.hero__line {
    background: red;
    color: white;
    display: inline-block;
    padding: .3rem;
}
.blog {
    background: #f7f7f7;
    padding: 1rem;
}
.blog__title {
    font-weight: normal;
    font-size: 1.5rem;
}
.blog__item {
    border-bottom: 1px solid #5e5e5e;
    padding-block: 1rem;
}
.blog__item--remove-line {
    border-bottom: 0;
}
.blog__time {
    color: #636363;
    font-style: italic;
}
.link--title-blog {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #5e5e5e;
}
.link--read-more-blog {
    font-style: italic;
    text-decoration: underline;
    text-decoration-color: #5e5e5e;
}
.footer {
    padding-block: 1rem;
    text-align: center;
}